# written by: Piseth San, Ndeye Anta Mbaye

# Ignore package-lock.json
package-lock.json
.env

node_modules/
config/docker/keycloak.yml
config/docker/realm-config/realm-settings.json
config/keycloak-themes/
