.top-background, .bottom-background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 200px; /* Adjust height as needed */
}
.top-background {
    background-image: url('/images/bg1.png');
}
.bottom-background {
    background-image: url('/images/bg2.png');
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    padding: 10px;
    margin: 20px auto;
    width: 90%;
    box-sizing: border-box;
}
/* General text and button colors */
body {
    background-color: #FAF9F6;
}
h4 {
    color: #57CC99;
}
p {
    color: #57CC99;
}