<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Import Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Import Materialize CSS -->
    <link rel="stylesheet" href="/css/materialize.min.css">
    <!-- Import Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive Meta Tag -->
    <link rel="stylesheet" href="/css/landing.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>

<header>
    <!-- Navbar for larger screens -->
    <nav class="z-depth-0">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo"><img src="/pic/logo.png" style="width: 4rem"
                ></a>
            <!-- Hamburger Menu for small screens -->
            <a href="#" data-target="mobile-menu" class="sidenav-trigger left hide-on-med-and-up black-text">
                <i class="material-icons">menu</i>
            </a>
            <!-- Navbar Links for larger screens -->
            <ul class="right hide-on-small-and-down">
                <li><a href="/" class="waves-effect grey-text text-darken-4">Home</a></li>
                <li><a href="#" class="waves-effect grey-text text-darken-4">About</a></li>
                <li><a href="#" class="waves-effect grey-text text-darken-4">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>

<aside>
    <!-- Sidenav for small and medium screens -->
    <ul class="sidenav" id="mobile-menu">
        <li><a class="subheader">TASK MANAGER</a></li>
        <li><a href="/" class="waves-effect grey-text text-darken-4">Home</a></li>
        <li><a href="/pages/about.html" class="waves-effect grey-text text-darken-4">About</a></li>
        <li><div class="divider"></div></li>
        <li><a href="/pages/contact.html" class="waves-effect grey-text text-darken-4"><i class="material-icons">mail_outline</i>Contact</a></li>
    </ul>
</aside>

<main>
    <div class="container center" style="margin-top: 25%; width: 100%;">
<!--        <i class="material-icons" style="color: #57CC99; font-size: 8rem;">check_circle</i>-->
                <i class="material-icons" style="color: red; font-size: 8rem;">error</i>

        <p id="errorMessage"></p>
        <p style="font-size: 1.5rem">Return to <a href="/homepage1">Homepage</a></p>
    </div>
</main>

<!-- Materialize JS (optional) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- Materialize and UI JS (local) -->
<script src="/js/materialize.min.js"></script>
<script src="/js/ui.js"></script>
</body>
</html>
